.movie-list {
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    /* gap: 10px; */
    padding: 20px;
  }
  
  @media (max-width: 900px) {
    .movie-list {
      grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
    }
  }
  
  @media (max-width: 600px) {
    .movie-list {
      grid-template-columns: 1fr; /* Single column on mobile screens */
      padding: 10px; /* Reduced padding on mobile */
    }
  }
  